<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <img src="assets/mlm/logo.png">
            </div>

            <div class="title">
                <p>B.H INVESTMENT</p> 
            </div>
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>លេខទូរសព្ទ</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-icon matSuffix class="secondary-text">smartphone</mat-icon>
                    <mat-error>
                        <span *ngIf="loginForm.get('username').hasError('required')">សូម​បញ្ចូល​លេខទូរស័ព្ទ</span>
                        <span *ngIf="loginForm.get('username').hasError('pattern')">សូម​បញ្ចូល​លេខទូរស័ព្ទតាមទម្រង់ ឧទាហរណ៍: 0965416704 </span>
                        <span *ngIf="loginForm.get('username').hasError('servererror')">{{ form.get('username').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ពាក្យសម្ងាត់</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        <span *ngIf="loginForm.get('password').hasError('required')">សូម​បញ្ចូល​ពាក្យ​សម្ងាត់​របស់​អ្នក</span>
                        <span *ngIf="loginForm.get('password').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                        <span *ngIf="loginForm.get('password').hasError('maxlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ២០ខ្ទង់យ៉ាងច្រើនបំផុត</span>
                        <span *ngIf="loginForm.get('password').hasError('servererror')">{{ form.get('password').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center">
                    <a class="forgot-password" [routerLink]="['/auth/forgot-password']">
                        ភ្លេច​លេខសំងាត់?
                    </a>
                </div>

                <div>
                    <button mat-raised-button color="accent" class="submit-button text-center" aria-label="LOG IN" [disabled]="loginForm.invalid || isLoading" ng-click="onLogin()">
                        <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner> <span *ngIf = " !isLoading " >ចូលប្រព័ន្ធ</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>