<section class="content-frm-title pl-24 pr-24 pt-24 pb-20 ">
    <div class="h2">

        <span>បង្កើតអ្នកប្រើប្រាស់ប្រព័ន្ធថ្មី</span>

    </div>

    <div fxLayoutAlign="end " fxFlex>
        <button mat-mini-fab class=" btn-icon-searching-add " [routerLink]="['/users']"><mat-icon >arrow_back</mat-icon></button>
    </div>
</section>


     <!-- Import form Customer -->
     <user-form [data] = " null " [action] = " 'CREATE' " ></user-form>
     <!-- Import form Customer End -->
