<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <!-- <img src="assets/mpwt/logos.png"> -->
            </div>
            <div class="title">ផ្លាស់ប្តូរពាក្យសម្ងាត់</div>

            <form name="form" [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
              
                <mat-form-field appearance="outline">
                    <mat-label>សូមបញ្ចូលពាក្យសម្ងាត់ថ្មី</mat-label>
                    <input matInput formControlName="password" name="password" [type]="hidePassword ? 'password' : 'text'"required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ !hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('password').hasError('required')">សូម​បញ្ចូល​ពាក្យ​សម្ងាត់​ទាំង៦ខ្ទង់</span>  
                        <span *ngIf="form.get('password').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                        <span *ngIf="form.get('password').hasError('servererror')">{{ form.get('password').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>សូមបញ្ចូលពាក្យសម្ងាត់ថ្មីរបស់អ្នកម្តងទៀត</mat-label>
                  <input matInput formControlName="password_confirmation"name="password" [type]="hidePassword ? 'password' : 'text'"  required>
                  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ !hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error>
                      <span *ngIf="form.get('password_confirmation').hasError('required')">សូម​បញ្ចូល​ពាក្យ​សម្ងាត់​ទាំង៦ខ្ទង់</span>  
                      <span *ngIf="form.get('password_confirmation').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                      <span *ngIf="form.get('password_confirmation').hasError('servererror')">{{ form.get('password_confirmation').errors.servererror }}</span>
                  </mat-error> 
              </mat-form-field>
              
                <div class="verify-code">
                    <button mat-raised-button color="accent" class="submit-button text-center" aria-label="LOG IN" [disabled]="form.invalid || isLoading" ng-click="changePassword()">
                        <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner> <span *ngIf = " !isLoading " >ផ្លាស់ប្តូរ</span>
                    </button>
                   
                </div>
  
            </form>

            <div class="additional-info">
                <a [routerLink]="['/auth/login']">ត្រលប់ទៅចូលប្រព័ន្ធ</a>
              </div>

        </div>

    </div>

</div>
