<section class="content-frm">
    <form class=" p-24 " fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form" (submit)=" submit() ">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <div fxFlex="100" class="pr-4" fxLayout="column">

                <mat-form-field appearance="outline">
                    <mat-label>ពាក្យសម្ងាត់ចាស់</mat-label>
                    <input matInput formControlName="old_password" name="password"  [type]="hideOldPassword ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{ !hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('old_password').hasError('required')">សូម​បញ្ចូល​ពាក្យ​សម្ងាត់ចាស់​របស់​អ្នក</span>  
                        <span *ngIf="form.get('old_password').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                        <span *ngIf="form.get('old_password').hasError('maxlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ២០ខ្ទង់យ៉ាងច្រើនបំផុត</span>
                        <span *ngIf="form.get('old_password').hasError('servererror')">{{ form.get('old_password').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>

               <mat-form-field appearance="outline">
                    <mat-label>ពាក្យសម្ងាត់ថ្មី</mat-label>
                    <input matInput formControlName="password" name="password"  [type]="hidePassword ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ !hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('password').hasError('required')">សូម​បញ្ចូល​ពាក្យ​សម្ងាត់​ថ្មីរបស់​អ្នក</span>  
                        <span *ngIf="form.get('password').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                        <span *ngIf="form.get('password').hasError('maxlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ២០ខ្ទង់យ៉ាងច្រើនបំផុត</span>
                        <span *ngIf="form.get('password').hasError('servererror')">{{ form.get('password').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> ពាក្យសម្ងាត់ថ្មីម្តងទៀត </mat-label>
                    <input matInput formControlName="confirm_password" name="password"  [type]="hideConfirmPassword ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{ !hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('confirm_password').hasError('required')">សូម​បញ្ចាក់​ពាក្យ​សម្ងាត់​ថ្មីរបស់​អ្នក</span>  
                        <span *ngIf="form.get('confirm_password').hasError('minlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ៦ខ្ទង់យ៉ាងហោចណាស់.</span>
                        <span *ngIf="form.get('confirm_password').hasError('maxlength')">ពាក្យសំងាត់ត្រូវមានចំនួន ២០ខ្ទង់យ៉ាងច្រើនបំផុត</span>
                        <span *ngIf="form.get('confirm_password').hasError('servererror')">{{ form.get('confirm_password').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto" class="pt-20 ">
            <button mat-raised-button color="accent" [disabled]=" form.invalid || isLoading " >
                <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner>  <mat-icon class="material-icons">edit</mat-icon><span *ngIf = " !isLoading " >ផ្លាស់ប្តូរ</span>
            </button>
        </div>
    </form>
</section>