<div class="page-layout carded fullwidth  content-cnt">


    <!-- TOP BACKGROUND -->
    <div class="top-bg accent bg-img" ></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>