<section class="filter">
    <div fxLayout="row"  fxLayoutAlign="start center" >
        <mat-form-field fxFlex="30" style="margin-top: 9px;padding: 10px;">
            <mat-label > ស្វែងរក </mat-label>
            <input matInput [(ngModel)]=" key " maxlength="100">
            <mat-hint>ឈ្មោះផលិតផល</mat-hint>
        </mat-form-field>

        <!-- <mat-form-field  fxFlex="20" class="mat-form">
            <mat-select  placeholder="តួនាទី" [(ngModel)]="role">
                <mat-option [value]="0"> 
                    ទាំងអស់ 
                </mat-option>
                <mat-option *ngFor="let row of setup?.roles" [value]="row.id">
                   <span [ngStyle]="{'color': row.color}">{{row.name}}</span> 
                  </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field  fxFlex="20">
            <mat-select placeholder="ទីតាំង" [(ngModel)]="location">
            <mat-option [value]= 0 >
                ទាំងអស់  
            </mat-option>
            <mat-option *ngFor="let row of setup?.locations" [value]="row.id" >
                <span [ngStyle]="{'color': row.color}">{{row.name}}</span> 
            </mat-option>
            </mat-select>
        </mat-form-field>  -->

        <div fxFlex="10">
            <button mat-icon-button (click)=" listing() " [disabled]=" isSearching "> <mat-icon  class="mat-icon  s-40 btn-icon-searching-search" >search</mat-icon></button>
        </div>
        <div fxLayoutAlign="end " fxFlex>
            <button mat-mini-fab class=" btn-icon-searching-add " [routerLink]="['/products/create']"><mat-icon >add</mat-icon></button>
        </div>
    </div>

</section>
<mat-progress-bar *ngIf=" isSearching " mode="query" color="accent"></mat-progress-bar>

<section class="listing">

    <ng-container *ngIf=" data?.length > 0 ">

        <!-- ================================= Table ====================================== -->
        <app-table [dataSource]="data" [tableColumnInfo]="tableColumnInfo" [sortDirection]="'desc'" (sortClicked)="onSort($event)" >

        </app-table>

        <!-- ================================= Pagination ====================================== -->
        <app-paginator [length]="total" [page]="page" [limit]="limit" (pageChanged)="onPageChanged($event)">
        </app-paginator>


    </ng-container>

    <ng-container *ngIf=" data?.length == 0 ">
        <div fxLayout="column" fxLayoutAlign="center center" fxflex>
            <mat-icon role="img" class="mat-icon notranslate s-100 mb-16 select-message-icon hint-text material-icons mat-icon-no-color" aria-hidden="true"> toc </mat-icon>
            <span class="select-message-text hint-text"><span>គ្មានទន្និន័យ</span></span>
        </div>

    </ng-container>

</section>

<!-- ================================= Column Template ====================================== -->

<ng-template #nameKhTpl let-element let-item let-index>
    <div
    class="hover-pionter"
    (click)="goDetail(element)"
    >
        {{ element?.kh_name }}
    </div>
   
</ng-template>

<ng-template #nameEnTpl let-element let-item let-index>
    <div
    class="hover-pionter"
    (click)="goDetail(element)"
    >
        {{ element?.en_name }}
    </div>
 </ng-template>

 <!-- <ng-template #sellingPriceTpl let-element let-item let-index>
    <div
     class="hover-pionter"
    (click)="goDetail(element)"
    >
         {{ element?.selling_price }}
    </div>

 </ng-template> -->

 <ng-template #actionTpl let-element let-item let-index>
    <button class="click-icon" mat-icon-button color="accent" [routerLink]="['/products/'+element?.id+'/overview']">
        <mat-icon>edit</mat-icon>
    </button>
    <button class="click-icon" mat-icon-button (click)="onDelete(element)" color="warn">
        <mat-icon>delete</mat-icon>
    </button>

 </ng-template>




  