<section class="content-frm-title pl-24 pr-24 pt-24 pb-20 ">
    <div class="h2">

        <span> ប្រភេទផលិតផល: {{data?.name}} </span>

    </div>

    <div fxLayoutAlign="end " fxFlex>
        <button mat-mini-fab class=" btn-icon-searching-add " [routerLink]="['/product-category']"><mat-icon >arrow_back</mat-icon></button>
    </div>
</section>