<section class="content-frm-title pl-24 pr-24 pt-24 pb-20 ">
    <div class="h2">

        <span>បង្កើតប្រភេទផលិតផលថ្មី</span>

    </div>

    <div fxLayoutAlign="end " fxFlex>
        <button mat-mini-fab class=" btn-icon-searching-add " [routerLink]="['/product-categoies']"><mat-icon >arrow_back</mat-icon></button>
    </div>
</section>


     <!-- Import form Customer -->
     <product-category-form [data] = " null " [action] = " 'CREATE' " ></product-category-form>
     <!-- Import form Customer End -->
