
    <form class=" p-24 " fxLayout="column" name="form" [formGroup]="form" (submit)=" submit() ">

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxFlex="1 0 auto"
        >
     
            <div fxFlex="100" fxLayout="column">

                <mat-form-field appearance="outline">
                    <mat-label> ឈ្មោះប្រភេទផលិតផល </mat-label>
                    <input matInput formControlName="name" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('name').hasError('required')">សូមបញ្ចូលឈ្មោះ</span>  
                        <span *ngIf="form.get('name').hasError('servererror')">{{ form.get('name').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>


        <!-- <mat-divider></mat-divider> -->
        <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
        <div 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutAlign="end center" 
            fxFlex="1 0 auto"
            >
            <button [disabled]="isLoading" *ngIf="action == 'CREATE'" mat-raised-button color="primary">បង្កើតថ្មី</button>
            <button *ngIf="action != 'CREATE'" mat-raised-button color="primary">កែតម្រូវ</button>

        </div>

    </form>
