<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <!-- <img src="assets/mpwt/logos.png"> -->
            </div>
            <div class="title">ភ្លេចពាក្យសំងាត់?</div>

            <form name="form" [formGroup]="form" (ngSubmit)="forgotPassword()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-icon matSuffix class="secondary-text">username</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('username').hasError('required')">សូម​បញ្ចូល​លេខទូរស័ព្ទ ឬ អុីម៉ែល</span>
                        <span *ngIf="form.get('username').hasError('pattern')">សូម​បញ្ចូល​លេខទូរស័ព្ទតាមទម្រង់ ឧទាហរណ៍: 0965416704 </span>  
                        <span *ngIf="form.get('username').hasError('servererror')">{{ form.get('username').errors.servererror }}</span>
                      </mat-error>
                </mat-form-field>

                <!-- <a class="forgot-password" [routerLink]="['/auth/forgot-password']">
                    ត្រលប់ទៅចូលប្រព័ន្ធ
                </a>-->
                <div>
                    <button mat-raised-button color="accent" class="submit-button text-center" aria-label="LOG IN" [disabled]="form.invalid || isLoading" ng-click="forgotPassword()">
                        <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner> <span *ngIf = " !isLoading " >ទទួលលេខកូដសុវត្ថិភាព</span>
                    </button>

                </div>
                <!-- <div>

                    <button mat-raised-button color="accent" class="submit-button text-center" aria-label="LOG IN" >
                        <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner> <span *ngIf = " !isLoading " >LOGIN</span>
                    </button>
                </div> -->

            </form>

            <div class="additional-info">
                <a [routerLink]="['/auth/login']">ត្រលប់ទៅចូលប្រព័ន្ធ</a>
              </div>

        </div>

    </div>

</div>