    <mat-tab-group>
        <mat-tab label="ព័ត៌មានផ្ទាល់ខ្លួន">
        <div *ngIf="data">
          <overview [data]="data"></overview>
        </div>
      </mat-tab>
        <mat-tab label="ផ្លាស់ប្តូរពាក្យសម្ងាត់"><change-password>  </change-password></mat-tab>
        <!-- <mat-tab label="Security"><security> </security></mat-tab> -->
    </mat-tab-group>
    <mat-progress-bar *ngIf=" isSearching " mode="query" color="accent"></mat-progress-bar>
    