
    <form class=" p-24 " fxLayout="column" name="form" [formGroup]="form" (submit)=" submit() ">

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxFlex="1 0 auto"
        >
            <div fxFlex="30" class="pr-4">
                <app-portrait 
                [mode] = " mode "
                [title]=" "
                [index]=" 1 " 
                [src]=" src " 
                (srcChange)='srcChange($event)'>
                </app-portrait>
            </div>
            <div fxFlex="70" fxLayout="column">

                <mat-form-field appearance="outline">
                    <mat-label> ឈ្មោះផលិតផលជាភាសារខ្មែរ </mat-label>
                    <input matInput formControlName="name_en" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('name_en').hasError('required')">សូមបញ្ចូលឈ្មោះ</span>  
                        <span *ngIf="form.get('name_en').hasError('servererror')">{{ form.get('name_en').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> ឈ្មោះផលិតផលជាភាសារអង្គគ្លេស </mat-label>
                    <input matInput formControlName="name_kh" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('name_kh').hasError('required')">សូមបញ្ចូលឈ្មោះ</span>  
                        <span *ngIf="form.get('name_kh').hasError('servererror')">{{ form.get('name_kh').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="setup">
                    <mat-label>ជ្រើសរើសប្រភេទ</mat-label>
                    <mat-select required formControlName="category_id" >
                        <mat-option *ngFor="  let row of setup " [value]=" row?.id ">
                            {{row?.name}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label> លេខសម្គាល់ </mat-label>
                    <input matInput formControlName="name_kh" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('sku').hasError('required')">សូមបញ្ចូលលេខសម្គាល់</span>  
                        <span *ngIf="form.get('sku').hasError('servererror')">{{ form.get('sku').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> តម្លៃដើម </mat-label>
                    <input matInput formControlName="name_kh" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('cost_price').hasError('required')">សូមបញ្ចូលតម្លៃដើម</span>  
                        <span *ngIf="form.get('cost_price').hasError('servererror')">{{ form.get('cost_price').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> តម្លៃលក់ </mat-label>
                    <input matInput formControlName="selling_price" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('selling_price').hasError('required')">សូមបញ្ចូលតម្លៃលក់</span>  
                        <span *ngIf="form.get('selling_price').hasError('servererror')">{{ form.get('selling_price').errors.servererror }}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> បរិយាយ </mat-label>
                    <input matInput formControlName="description" required >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" *ngIf="setup">
                    <mat-label>ទីតាំង</mat-label>
                    <mat-select required formControlName="location_id" >
                        <mat-option *ngFor="  let row of setup?.locations " [value]=" row?.id ">
                            {{row?.name}} ({{ row?.level?.name }})
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('location_id').hasError('required')">
                            សូមជ្រើសរើសតួនាទី
                        </span>
                       
                    </mat-error>
                </mat-form-field> -->

            </div>

        </div>


        <!-- <mat-divider></mat-divider> -->
        <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
        <div 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutAlign="end center" 
            fxFlex="1 0 auto"
            >
            <button [disabled]="isLoading" *ngIf="action == 'CREATE'" mat-raised-button color="primary">បង្កើតថ្មី</button>
            <button *ngIf="action != 'CREATE'" mat-raised-button color="primary">កែតម្រូវ</button>

        </div>

    </form>
